body{
    background-image: url('images.jpg');
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px  rgba(0, 0, 0, 0.5);
    border-radius: 25px;         
        
}
.form h3{
    color: white;
    font-size: 2rem;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    margin: 50px;
}

input{
    height: auto;
    width: 65%;
    margin: 20px;
    border-radius: 10px;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px  rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
}
#login{
    padding: 10px 20px;
    margin-top: 50px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px  rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}
#login:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: white;
}
label{
    color: white;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-left: 70px;
}
